.header-link {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

.header-alert {
    z-index: 1002;
    background-color: pink!important
}

.my-header {
    height: 52px;
}

.centered {
    margin: auto;
}
.vert-centered {
    margin-top: auto;
    margin-bottom: auto;
}

.loader-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-text {
    font-size: 18px;
    margin-top: 5px;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.centered-text {
    text-align: center;
}
.my-button {
    text-align: center;
    padding: 10px!important;
    margin-bottom: 10px!important;
}
.sec-container {
    margin: 15px;
    text-align: center;
}
.float-right {
    float: right;
}
.right-text {
    text-align: right;
}
.right-left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.next-to {
    display: flex;
    flex-direction: row;
}
.pl {
    padding-left: 10px;
}
.active {
    background-color: #fbfba5;
}

.playlist-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40vmin;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
    padding: 10px ;
    background-color: white;
}

.m-top {
    margin-top: 5px;
}

@media only screen and (max-width: 900px) {
    .playlist-container {
        width: 40vmax;
    }
}

.my-item {
    padding-top: 3px!important;
    padding-bottom: 3px!important;
}

.hover-grey:hover {
    background-color: #ebebeb;
}

.my-bottom-border {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.left-border {
    border-left-style: solid;
}

.my-header-text {
    margin-bottom: 5px;
}

.search-bar-cont {
    display: flex;
    justify-content: space-between;
}